@model Skeleton.Web.Models.SignInViewModel

@section header {
    <br />
}

<div class="col-sm-6">

    <div class="row">
        <div class="lead col-sm-12">
            <h1>Story mapping for TFS.</h1>
            <p>
                Did you know? <a href="http://jpattonassociates.com/the-new-backlog/" target="_blank">The new user story backlog is a map</a>.
            </p>
            <p>
                And until our pals on the TFS team <a href="https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/4130976-create-a-new-view-in-tfs-task-board-to-view-backlo" target="_blank">get around to building one in</a>, <strong>Skeleton</strong>'s got your back.
            </p>
            <p>
                Ready?
            </p>
            <div class="text-center visible-xs">
                <img src="~/img/skull.png" />
            </div>
        </div>  
    </div>

    @using (Html.BeginForm()) {
        if (Model.HasError) {
            <div class="form-group row">
                <div class="col-sm-12">
                    <p class="alert alert-danger">
                        @Model.ErrorMessage
                    </p>
                </div>
            </div>
        }
        <div class="form-group row">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Url, new { @class = "label-control" })
                @Html.TextBoxFor(m => m.Url, new { @class = "form-control", type = "url", placeholder = "You know, like https://jonfazzaro.visualstudio.com/DefaultCollection" })
                @Html.ValidationMessageFor(m => m.Url, null, new { @class = "text-danger"})
                <small class="help-block"><strong>Sorry/not sorry&mdash;only for visualstudio.com or TFS 2015 right now</strong>. Stay tuned for old-school support. Or <a href="//github.com/jonfazzaro/skeleton" target="_blank">pull request me, bro</a>.</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">

                @Html.LabelFor(m => m.Username, new { @class = "label-control" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Password, new { @class = "label-control" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-lg btn-success">Map Me</button>
            </div>
        </div>
    }

    <br />
    <div class="row">
        <div class="col-sm-6" title="See what I did there? Heaped? &#13;&#13;Managed code? &#13;&#13;&#13;&#13;I'll see myself out.">
            Loving heaped together by <a href="//twitter.com/jonfazzaro/" target="_blank">@@jonfazzaro</a>.
        </div>
    </div>
    <br />
</div>

<div class="col-sm-6 skeleton text-center visible-sm visible-md visible-lg">
    <img src="~/img/skeleton.png" />
</div>